@import url(./reset.css);

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: local('Spoqa Han Sans Neo Bold'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: url('./styles/font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('./styles/font/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('./styles/font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: url('./styles/font/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('./styles/font/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('./styles/font/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src: url('./styles/font/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('./styles/font/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('./styles/font/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 100;
  src: url('./styles/font/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('./styles/font/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('./styles/font/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', sans-serif !important;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background: #3a3a3d50;
  border-radius: 8px;
}
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
}
